@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    form {
        width: 100%;
        max-width: 400px; /* Adjust the maximum width based on your design */
    }

    /* Add styles to center the form within the viewport */
    .container {
        padding: 20px;
    }
}

@font-face {
  font-family: Delicious;
  src: url(./assets/fonts/Gotham-Light.otf);
}

html,
body {
    min-height: 100%;
    background-color: #000000;
}

body,
div,
form,
input,
select,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Delicious, Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 22px;
}

h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}

h2 {
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
    padding: 50px;
    position: absolute;
    top: 0px;
    align-items: center;
}

.logo {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input,
select {
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
}

input {
    width: 500px;
    padding: 5px;
    padding-left: 15px;
}

select {
    width: 100%;
    padding: 7px 0;
    color: #000000;
}

.item input:hover,
.item select:hover {
    color: #000000;
}

.item {
    position: relative;
    margin: 10px 0;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}

.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 10px 0;
    cursor: pointer;
}

.question span {
    margin-left: 30px;
}

span.required {
    margin-left: 0;
    color: red;
}

label.check:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #095484;
}

.signature {
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

input[type=checkbox]:checked+.check:before {
    background: #095484;
}

label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    padding: 10px;
    background: #B99855;
    font-size: 15px;
    font-weight: 500;
    font-family: Delicious, Roboto, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #ffde9c 0%, #B99855 100%);
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
        inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 25px;
}

button:hover {
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
        inset 0px -3px 0px #ffffff;
    transform: translateY(-2px);
}

button:active {
    box-shadow: inset 0px 3px 7px #ffffff;
    transform: translateY(2px);
}

@media (min-width: 568px) {

    .name-item,
    .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input,
    .city-item input {
        width: calc(50% - 20px);
    }

    .city-item select {
        width: calc(50% - 8px);
    }
}

/* Style for dropdowns */
.select-container {
    position: relative;
    display: inline-block;
}

.select-dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

/* Style for options in dropdown */
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-options.active {
    display: block;
}

.select-option {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
}

.select-option:hover {
    background-color: #f0f0f0;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    display: flex;
    align-items: center;
}

.loader {
    width: 100%;
    height: 15px;
    text-align: center;
}

.dot {
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
}

.dot:first-child:before {
    animation-delay: 0ms;
}

.dot:first-child:after {
    animation-delay: 0ms;
}

.dot:last-child:before {
    animation-delay: 200ms;
}

.dot:last-child:after {
    animation-delay: 200ms;
}

.dot:before {
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(171, 171, 171);
    animation-name: dotHover;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82, 0, .26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    background: #B99855;
    border-radius: 100%;
}

.dot:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    opacity: .20;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -2px;
    border-radius: 100%;
    animation-name: dotShadow;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(.82, 0, .26, 1);
    animation-iteration-count: infinite;
    animation-delay: 100ms;
}

.awesomplete,
.awesomplete ul {
    color: #000000; /* Black text color */
}

@keyframes dotShadow {
    0% {
        transform: scaleX(1);
    }

    50% {
        opacity: 0;
        transform: scaleX(.8);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes dotHover {
    0% {
        top: 0px;
    }

    50% {
        top: -20px;
        transform: scale(1.1);
    }

    100% {
        top: 0;
    }
}
